<div class="single-page">

  <div style="margin-top: 25px;">
      {{ page.content }}
  </div>   

    <!-- {% if settings.display-services1 %}
    <div class="service">
      <figure><img src="{{ 'services1-image.jpg' | asset_url }}" alt=""></figure>
      <article>
        <h1>{{ settings.services1-headline }}</h1>
        <hr>
        <p>{{ settings.services1-content }}</p>
        <a href="{{ settings.services1-link }}" class="btn">{{ settings.services1-button }}</a>
      </article>
    </div>
    {% endif %}
    {% if settings.display-services2 %}
    <div class="service">
      <figure><img src="{{ 'services2-image.jpg' | asset_url }}" alt=""></figure>
      <article>
        <h1>{{ settings.services2-headline }}</h1>
        <hr>
        <p>{{ settings.services2-content }}</p>
        <a href="{{ settings.services2-link }}" class="btn">{{ settings.services2-button }}</a>
      </article>
    </div>
    {% endif %}
    {% if settings.display-services3 %}
    <div class="service">
      <figure><img src="{{ 'services3-image.jpg' | asset_url }}" alt=""></figure>
      <article>
        <h1>{{ settings.services3-headline }}</h1>
        <hr>
        <p>{{ settings.services3-content }}</p>
        <a href="{{ settings.services3-link }}" class="btn">{{ settings.services3-button }}</a>
      </article>
    </div>
    {% endif %}
    {% if settings.display-services4 %}
    <div class="service">
      <figure><img src="{{ 'services4-image.jpg' | asset_url }}" alt=""></figure>
      <article>
        <h1>{{ settings.services4-headline }}</h1>
        <hr>
        <p>{{ settings.services4-content }}</p>
        <a href="{{ settings.services4-link }}" class="btn">{{ settings.services4-button }}</a>
      </article>
    </div>
    {% endif %}
    {% if settings.display-services5 %}
    <div class="service">
      <figure><img src="{{ 'services5-image.jpg' | asset_url }}" alt=""></figure>
      <article>
        <h1>{{ settings.services5-headline }}</h1>
        <hr>
        <p>{{ settings.services5-content }}</p>
        <a href="{{ settings.services5-link }}" class="btn">{{ settings.services5-button }}</a>
      </article>
    </div>
    {% endif %} -->
</div>